<h3 class="item-section-heading"><%= heading %></h3>
<ul class="item-list">
  <% items.each do |item| %>
    <li class="item-li">
      <a href="#" class="item-link" data-id="<% item[:id] %>" data-type="<% item[:type] %>">
        <figure class="item-figure">
          <img src="<%= item[:image_path] %>" class="item-img-thumb" alt="<%= item[:title] %>">
        </figure>
        <div class="item-info">
          <h4 class="item-title"><%= item[:title] %></h4>
          <div class="item-icon-tags">
            <% season_tags(item).each do |season_tag| %>
              <% unless season_tag == 'All Seasons' %>
                <%= erb '_tag_icon'.to_sym, locals: { tag_name: season_tag } %>
              <% end %>
            <% end %>
            <% flaw_tags(item).each do |flaw_tag| %>
              <%= erb '_tag_icon'.to_sym, locals: { tag_name: flaw_tag } %>
            <% end %>
          </div>
        </div>
      </a>
    </li>
  <% end %>
</ul>
