<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfit Builder</title>
    <script src="javascripts/handlebars-4.7.7.js"></script>
    <% if Sinatra::Base.production? %>
      <link href="/images/shirt-dark-fav.png" rel="icon" type="image/x-icon">
    <% end %>
    <link rel="stylesheet" href="/fontawesome-pro-6.3.0-web/css/all.css">
    <link rel="stylesheet" href="/fontawesome-pro-6.3.0-web/css/sharp-solid.css">
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <% if @current_page_stylesheet %>
      <link rel="stylesheet" href="/stylesheets/<%= @current_page_stylesheet %>" />
    <% end %>
    <script src="/javascripts/item.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/page.js"></script>

    <% @current_page_scripts.each do |script| %>
      <script src="/javascripts/<%= script %>"></script>
    <% end %>
  </head>
  <body>
    <%= erb :_header %>

    <%= yield %>

    <%= erb :_footer %>
  </body>
</html>